<div id="addhb">
  <h3>Add Random Url</h3>
  <div class="p-2">
    <div class="input-group mb-3">
      <span class="input-group-text">Title</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="title"
        id="title"
      />
    </div>
  </div>
  <div class="p-2">
    <div class="input-group mb-3">
      <span class="input-group-text">Url</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="url"
        id="url"
      />
    </div>
    <div>
      <br />
      <button id="submit">Submit</button>
      <button id="cancel">Cancel</button>
      <p class="text-center" id="actiontext"></p>
    </div>
  </div>
</div>
<script src="/js/rand.js"></script>